{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <!-- Подключение Materialize CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <!-- Header -->
    {% include 'header.html' %}

    <main class="container">
        <!-- Вывод сообщений -->
        {% include 'messages.html' %}

        <section class="card-panel">
            <h2 class="center-align">Описание сервиса</h2>
            <p class="flow-text">Этот сервис помогает вам изучать новые слова с помощью интерактивных карточек.</p>
        </section>

        <section class="card-panel">
            <h2 class="center-align">Краткое руководство</h2>
            <ol class="browser-default">
                <li>Добавьте новые карточки через форму на странице
                    <a href="{% url 'add-card' %}">Создания карточек</a>.
                </li>
                <li>Просматривайте все карточки на странице
                    <a href="{% url 'cards' %}">Просмотра карточек</a>.
                </li>
                <li>Изучайте карточки в интерактивном режиме на странице
                    <a href="{% url 'study' %}">Изучения карточек</a>.
                </li>
            </ol>
        </section>
    </main>

    <!-- Footer -->
    {% include 'footer.html' %}

    <!-- Подключение Materialize JavaScript -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>